{{#each this}}
  <div class='photo-card'>
    <a href={{largeImageURL}}><img
        class='photo'
        src={{webformatURL}}
        alt={{tags}}
        title={{tags}}
        loading='lazy'
        width='262'
        height='200'
      /></a>
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b>
        <span class='info-item-api'> {{likes}} </span>
      </p>
      <p class='info-item'>
        <b>Views</b>
        <span class='info-item-api'>{{views}}</span>
      </p>
      <p class='info-item'>
        <b>Comments</b>
        <span class='info-item-api'>{{comments}}</span>
      </p>
      <p class='info-item'>
        <b>Downloads</b>
        <span class='info-item-api'>{{downloads}}</span>
      </p>
    </div>
  </div>
{{/each}}